#display-blogs-table {
  width: 70%;
  float: left;
}
#display-pages-table {
  width: 70%;
  float: left;
}
#update-page, #update-blog{
  width: 70%;
  float: left;
}
#result-testing {
  clear: both;
}


/*____BOOTSTRAP SIDEBAR_____*/
body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px);
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }

  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }

/* --- CUSTOM CSS --- */

/* General */
body {
  background-color: #B1C9FF;
}

button {
  color: white;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9984+1,ff6140+54 */
  background: #ff9984; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9984 1%, #ff6140 54%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff9984 1%,#ff6140 54%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff9984 1%,#ff6140 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9984', endColorstr='#ff6140',GradientType=0 ); /* IE6-9 */
  border: 2px solid #FF6140;
  border-radius: 5px;
}

button:hover {
  background: #ff9984;
}

/* Navigation */

nav.navbar-default {
  background-color: #4267B3;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 1.2em;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  border-bottom-color: white;
  border-top-color: white;
}

#navbar-brand {
  font-family: 'Lobster Two', cursive;
  font-style: italic;
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 2px rgba(0, 0, 0, .5);
}

/* Blogs */

#create-blog {
  float: left;
  width: 40%;
  margin-left: 20px;
}

#show-all-blog {
  float: left;
  width: 55%;
  background-color: white;
  padding: 0 20px;
  margin-left: 20px;
}

#create-blog > input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 5px;
}

#create-blog > input[type="text"]:focus {
  border: 2px solid #FF6140;
  outline: none;
}

#create-blog > textarea {
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 400px;
  margin-bottom: 10px;
  padding: 5px;
}

#create-blog > textarea:focus {
  border: 2px solid #FF6140;
  outline: none;
}

#display-blogs-table {
  width: 90%;
}

#create-blog > input[type="submit"] {
  border: none;
  font-size: 1.2em;
  background-color: #FF6140;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9984+1,ff6140+54 */
  background: #ff9984; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9984 1%, #ff6140 54%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff9984 1%,#ff6140 54%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff9984 1%,#ff6140 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9984', endColorstr='#ff6140',GradientType=0 ); /* IE6-9 */

  border: 2px solid #FF6140;
  border-radius: 5px;
}

#create-blog > input[type="submit"]:hover {
  background: #ff9984;
}

#one-blog {
  margin-left: 20px;
  padding: 0;
  width: 60%;
  float: left;
  background-color: white;
  padding: 0 20px 20px 20px;
}

#one-blog > p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

/* Pages */
#create-page {
  float: left;
  width: 40%;
  margin-left: 20px;
}

#show-all-page {
  float: left;
  width: 55%;
  background-color: white;
  padding: 0 20px;
  margin-left: 20px;
}

#create-page > input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 5px;
}

#create-page > input[type="text"]:focus {
  border: 2px solid #FF6140;
  outline: none;
}

#create-page > textarea {
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 400px;
  margin-bottom: 10px;
  padding: 5px;
}

#create-page > textarea:focus {
  border: 2px solid #FF6140;
  outline: none;
}

#display-pages-table {
  width: 90%;
}

#create-page > input[type="submit"] {
  border: none;
  font-size: 1.2em;
  background-color: #FF6140;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9984+1,ff6140+54 */
  background: #ff9984; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9984 1%, #ff6140 54%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff9984 1%,#ff6140 54%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff9984 1%,#ff6140 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9984', endColorstr='#ff6140',GradientType=0 ); /* IE6-9 */

  border: 2px solid #FF6140;
  border-radius: 5px;
}

#create-page > input[type="submit"]:hover {
  background: #ff9984;
}

#one-page {
  margin-left: 20px;
  padding: 0;
  width: 50%;
  float: left;
  background-color: #454545;
  padding: 0 20px 20px 20px;
  color: white;
  float: left;
}

#one-page > p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

#one-page > hr {
  opacity: .3;
}

#update-page {
  width: 100%;
}

#update-page-div {
  width: 40%;
  margin-left: 20px;
  float: left;
}

#update-page-div input[type="text"] {
  display: block;
  width: 100%;
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 5px;
}

#update-page-div input[type="text"]:focus {
  border: 2px solid #FF6140;
  outline: none;
}

#update-page-div textarea {
  display: block;
  width: 100%;
  font-size: 1.2em;
  height: 400px;
  margin-bottom: 10px;
  padding: 5px;
}

#update-page-div input[type="submit"] {
  border: none;
  font-size: 1.2em;
  background-color: #FF6140;
  color: white;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff9984+1,ff6140+54 */
  background: #ff9984; /* Old browsers */
  background: -moz-linear-gradient(top,  #ff9984 1%, #ff6140 54%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ff9984 1%,#ff6140 54%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ff9984 1%,#ff6140 54%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9984', endColorstr='#ff6140',GradientType=0 ); /* IE6-9 */

  border: 2px solid #FF6140;
  border-radius: 5px;
}

#update-page-div input[type="submit"]:hover {
  background: #ff9984;
}
